:root { 
    --main-color: #D91E41;
    --secondary-color : #1E1C59;
    --tertiary-color : #212529;
    --quaternary-color : #CAF0F8;
    --quinary-color : #48CAE4;
    --sennaire-color : #ffffff;
    --septenaire-color: #ADB5BD;

    --bg-color : #FFF1E6;
  }