body {
    background-color: #FFF1E6;
    margin: 0 auto;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 0 0 120px 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 120px 0;
}

@media (max-width: 768px) {

    body{
        text-align: center;
        margin: 0;
    }

    .buttons{
        flex-direction: column;
        gap: 32px;
    }

}